$c1: #ff5964;
$c2: #ffe74c;
$c3: #6bf178;

$txtcolor:#807B7B;
$gray:#c7c7c7;

$white: #ebeceb;
$blue-primary:#305C7A;
$blue-secondary:#9BD7D1;
$light-orange:#F8A36C;
$dark-orange:#F26528;
$text-color: #485362;


